input {
  background: #fff;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  height: 50px;
  width: 100%;
  padding: 0 24px;
  font-size: 18px;
  margin-top: 8px;
}

input::placeholder {
  color: #888;
  font-size: 18px;
}

input:hover {
  border: 1px solid #b6b6cb;
}

input:focus {
  border: 2px solid #2684ff;
}

span {
  font-size: 12px;
  font-weight: bold;
  color: #E02041;
  margin-top: 5px;
}
